.sidebar-nav-floating {
	margin-top: 3.75rem !important;
	height: calc(100% - 4.25rem) !important;
}

.sidebar-nav-floating-open {
	left: 0 !important;
}

.gramax {
    /** Base **/
    --primary-accent: 240 6% 10%;
    --primary-accent-hover: 240 4% 16%;
    --primary-fg: 240 6% 10%;
    --primary-border: 240 5% 84%;
    --primary-bg: 0 0% 98%;
    --primary-bg-hover: 240 6% 90%;
    --secondary-accent: 240 6% 10%;
    --secondary-fg: 240 5% 26%;
    --secondary-border: 240 6% 90%;
    --secondary-bg: 0 0% 100%;
    --secondary-bg-hover: 240 5% 96%;
    --tertiary-accent: 240 4% 46%;
    --muted: 240 4% 46%;
    --sidebar-bg: 0 0% 98%;
}

.dark {
    .gramax {
        /** Base **/
        --primary-accent: 0 0% 98%;
        --primary-accent-hover: 240 6% 90%;
        --primary-fg: 0 0% 98%;
        --primary-border: 240 5% 34%;
        --primary-bg: 240 10% 4%;
        --primary-bg-hover: 240 5% 26%;
        --secondary-accent: 0 0% 98%;
        --secondary-fg: 240 6% 90%;
        --secondary-border: 240 5% 26%;
        --secondary-bg: 240 6% 10%;
        --secondary-bg-hover: 240 4% 16%;
        --tertiary-accent: 240 5% 65%;
        --muted: 240 5% 65%;
        --sidebar-bg: 240 10% 4%;
    }    
}
