.gramax {
    /** Base **/
    --primary-accent: 0 0% 9%;
    --primary-accent-hover: 0 0% 15%;
    --primary-fg: 0 0% 9%;
    --primary-border: 0 0% 83%;
    --primary-bg: 0 0% 98%;
    --primary-bg-hover: 0 0% 90%;
    --secondary-accent: 0 0% 9%;
    --secondary-fg: 0 0% 25%;
    --secondary-border: 0 0% 90%;
    --secondary-bg: 0 0% 100%;
    --secondary-bg-hover: 0 0% 96%;
    --tertiary-accent: 0 0% 45%;
    --muted: 0 0% 45%;
    --sidebar-bg: 0 0% 98%;

    /** Inverse **/
    --inverse-primary-bg: 0 0% 9%;
    --inverse-secondary-bg: 0 0% 15%; 
    --inverse-hover: 0 0% 25%;
    --inverse-active: 0 0% 32%; 
    --inverse-border: 0 0% 25%;
    --inverse-muted: 0 0% 64%;
    --inverse-secondary-fg: 0 0% 90%; 
    --inverse-primary-fg: 0 0% 98%;
}
